{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "spaced-comment": ["error", "always"],
        "indent": ["error", 4]
    },
    "extends": "eslint:recommended"
}
